<section class="clear">
  <div class="home container px-3">
    <div class="row">
      <div class="col col-3 d-none d-sm-inline-block">
        <div class="my-3 form-control-search">
          <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="search"
          />
          <span class=""><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
        <div class="category my-4">
          <h3 class="Catagory-title fs-4 bg-dark text-white pl-4">Catagory</h3>
          <ul class="list pl-3">
         <li class="list-item mb-2">
              <a href="/product/product" class="list-link text-light py-3">Áo thun</a>
            </li>
            <li class="list-item mb-2">
              <a href="/product/aokhoat" class="list-link text-light my-3">Áo Khoác</a>
            </li>
            <li class="list-item mb-2">
              <a href="/product/aovest" class="list-link text-light my-3">Áo Vest</a>
            </li>
            <li class="list-item mb-2">
              <a href="/product/giay" class="list-link text-light my-3">Giày</a>
            </li>
            <li class="list-item mb-2">
              <a href="/product/giay" class="list-link text-light my-3">Giày thể thao</a>
            </li>
            <li class="list-item mb-2">
              <a href="/product/vay" class="list-link text-light my-3">Váy</a>
            </li>
            <li class="list-item mb-2">
              <a href="/product/congso" class="list-link text-light my-3">Đồ công sở</a>
            </li>
            <li class="list-item mb-2">
              <a href="/product/dep" class="list-link text-light my-3">Dép</a>
            </li>
            <li class="list-item mb-2">
              <a href="/product/vo" class="list-link text-light my-3">Vớ</a>
            </li>
            <li class="list-item mb-2">
              <a href="/product/all" class="list-link text-light my-3">View All</a>
            </li>
          </ul>

        </div>
        <div class="trending-product">
          <h3 class="product-title bg-dark text-light fs-4 py-2 pl-4">Trending Products</h3>
          <ul class="product">
            <li class="product-item">
              <article class="d-flex">
                <figure class="mr-2">
                  <a href="javascript:void(0)"><img
                      src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/433041/item/goods_63_433041.jpg?width=1008&impolicy=quality_75"
                      alt=""
                    /></a>
                </figure>
                <div class="pd-content w-100 ps-5 my-3">
                  <div class="pd-title fw-bold text-light">Áo Polo Dry-Ex Ngắn Tay</div>
                  <div class="pd-decs py-3 text-light">Áo thun co dãn</div>
                </div>
              </article>
            </li>
            <li class="product-item">
              <article class="d-flex">
                <figure class="mr-2">
                  <a href="javascript:void(0)"><img
                      src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/437824/item/vngoods_08_437824.jpg?width=1008&impolicy=quality_75"
                      alt=""
                    /></a>
                </figure>
                <div class="pd-content w-100 ps-5 my-3">
                  <div class="pd-title fw-bold text-light">Áo Polo Dry-Ex Ngắn Tay</div>
                  <div class="pd-decs py-3 text-light">Áo thun co dãn</div>
                </div>
              </article>
            </li>
            <li class="product-item">
              <article class="d-flex">
                <figure class="mr-2">
                  <a href="javascript:void(0)"><img
                      src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/449476/item/vngoods_61_449476.jpg?width=1008&impolicy=quality_75"
                      alt=""
                    /></a>
                </figure>
                <div class="pd-content w-100 ps-5 my-3">
                  <div class="pd-title fw-bold text-light">Áo Thun Cổ Tròn Kẻ Sọc Dáng Rộng Tay Lửng</div>
                  <div class="pd-decs py-3 text-light">Áo thun co dãn</div>
                </div>
              </article>
            </li>
            <li class="product-item">
              <article class="d-flex">
                <figure class="mr-2">
                  <a href="javascript:void(0)"><img
                      src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/435813/item/goods_00_435813.jpg?width=1008&impolicy=quality_75"
                      alt=""
                    /></a>
                </figure>
                <div class="pd-content w-100 ps-5 my-3">
                  <div class="pd-title fw-bold text-light">AIRism Áo Polo Ngắn Tay</div>
                  <div class="pd-decs py-3 text-light">Áo thun co dãn</div>
                </div>
              </article>
            </li>

          </ul>
        </div>

      </div>
      <div class="col col-9 main my-3">
        <h3 class="main-title pb-3 fw-bold text-light">
          Bestselling Clothes
        </h3>
        <article class="best-pd-main mt-3 d-flex">
          <figure class="align-center d-sm-none d-md-flex">
            <a href="javascript:void(0)">
              <img class="w-100" src="../.././img/collection4-removebg-preview.png" alt="" />
            </a>
          </figure>
          <div class="main-body py-4 text-light">
            <h3 class="main-body-title fw-bold">Thiết kế mới nhất của shop</h3>
            <p class="decs">Áo mang đến tính lịch lãm, cuốn hút</p>
            <div class="main-start">
              <span><i class="fa-solid fa-star"></i></span>
              <span><i class="fa-solid fa-star"></i></span>
              <span><i class="fa-solid fa-star"></i></span>
              <span><i class="fa-solid fa-star"></i></span>
              <span><i class="fa-solid fa-star"></i></span>
            </div>
            <div class="main-body-price">
              <span class="fw-bold new-price">$23.18</span>
              <span class="ms-2 old-price">$30.20</span>
            </div>
            <a href="javascript:void(0)" class="btn btn-primary"><i
                class="fa-solid fa-cart-arrow-down me-2"
              ></i>Thêm giỏ hàng</a>
          </div>

        </article>

        <div class="main-collection">
          <div class="main-collection-title text-light">
            <h4 class="coll-title my-5 fw-normal">Colletion</h4>
          </div>
          <div class="row">
             {{#each vos}}
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-2">
              <div class="card" style="width: 12rem;border: none;">
                <figure class="card-img-top w-100">
                  <img
                    style="height:200px;object-fit:fill"
                    class="w-100"
                    src="{{this.image}}"
                    alt="{{this.image}}"
                  />
                </figure>
                <div class="card-body">
                  <h5 class="card-title">{{this.name}}</h5>
                  <p class="card-text">{{this.decs}}</p>
                  <div class="main-start">
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                  </div>
                  <div class="card-price my-2">
                    <span class="fw-bold new-price">${{this.price}}</span>
                    <span class="ms-2 old-price">${{this.price}}</span>
                  </div>

                  <a href="/add/{{this._id}}/vo" class="btn btn_addcart my-3"><i
                      class="fa-solid fa-cart-arrow-down me-2"
                    ></i>Thêm giỏ hàng</a>
                </div>
              </div>
            </div>
             {{/each}}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>